<a href="https://colab.research.google.com/github/jeces/Ai-/blob/main/Week2_Session1_%E1%84%89%E1%85%AE%E1%84%8B%E1%85%A5%E1%86%B8%E1%84%8B%E1%85%AD%E1%86%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AI 노바투스과정**

Week 2 (2022-01-13)

실습 #1: California Housing Price 집값 예측 회귀 모델 학습하기

# **실습 #1-0 : California Housing Price Dataset을 다운로드 받아야합니다.**
- 먼저 Google에서 California Housing Price Dataset을 검색해주세요.
- "California Housing Prices | Kaggle"이라고 쓰여있는 글을 클릭해주세요.
- housing.csv 파일을 다운로드해주세요.

- 그 후 왼쪽 탭에서 Google Colab으로 다운로드 받은 housing.csv 파일을 업로드해줍니다.

# **실습 #1-1: 데이터 불러오기 그리고 살펴보기**

**pandas**는 학습 데이터를 관리하고 처리하기에 매우 효율적인 라이브러리입니다.

In [39]:
# 데이터를 불러오는 과정입니다. Pandas는 데이터를 처리하기에 매우 효율적인 라이브러리로 생각하시면 됩니다.
import pandas as pandas

housing = pandas.read_csv("housing.csv")  # Pandas 라이브러리의 read_csv 함수를 통해, Colab 상에 업로드한 housing.csv 파일을 읽습니다.
housing.head(10)
  # housing data에 처음 10개의 데이터를 출력해서 살펴봅니다.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

# **실습 #1-2: 학습에 들어가기 전 학습 데이터 전처리 과정**

정보 중 total_bedrooms은 정보가 없는 데이터도 존재합니다. 따라서, total_bedrooms에 정보가 비어있는 데이터는 median 값으로 채우고자 합니다.

In [40]:
median = housing["total_bedrooms"].median()
housing["total_bedrooms"] = housing["total_bedrooms"].fillna(median)
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

앞에서 total_rooms와 total_bedrooms 그리고 household가 서로 간에 연관이 매우 큰 것을 확인하였습니다. 학습 위해서 더 의미있는 데이터로 가공할 필요가 있고,

- 이를 위해서 total_room는 "rooms_per_household"로 바꾸고
- total_bedrooms는 "bedrooms_per_household"로 바꿉시다.

In [41]:
housing["bedrooms_per_household"] = housing["total_bedrooms"] / housing["households"]
del housing["total_bedrooms"]
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   longitude               20640 non-null  float64
 1   latitude                20640 non-null  float64
 2   housing_median_age      20640 non-null  float64
 3   total_rooms             20640 non-null  float64
 4   population              20640 non-null  float64
 5   households              20640 non-null  float64
 6   median_income           20640 non-null  float64
 7   median_house_value      20640 non-null  float64
 8   ocean_proximity         20640 non-null  object
 9   bedrooms_per_household  20640 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

# **Popup 실습: total_bedrooms 역시 "bedrooms_per_household"로 바꿔주세요.**

In [42]:
housing["rooms_per_household"] = housing["total_rooms"] / housing["households"]
del housing["total_rooms"]
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   longitude               20640 non-null  float64
 1   latitude                20640 non-null  float64
 2   housing_median_age      20640 non-null  float64
 3   population              20640 non-null  float64
 4   households              20640 non-null  float64
 5   median_income           20640 non-null  float64
 6   median_house_value      20640 non-null  float64
 7   ocean_proximity         20640 non-null  object
 8   bedrooms_per_household  20640 non-null  float64
 9   rooms_per_household     20640 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

학습 데이터의 정보 값들을 적절한 크기의 값으로 정규화 해줘야합니다.

**sklearn**이라는 매우 유용한 학습 라이브러리를 활용합니다.

In [43]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

col_list = list(housing)
col_list.remove("ocean_proximity") # text type
col_list.remove("median_house_value") # target variable needs not to be scaled

# generate a new dataframe that consist of numeric type only
housing_numeric = housing[col_list]
housing_scaled = scaler.fit_transform(housing_numeric)

# Data type conversion from 'Series' to 'DataFrame'

housing_scaled_df = pandas.DataFrame(housing_scaled, index=housing_numeric.index, columns=housing_numeric.columns)

# Concatenate 
housing = pandas.concat([housing_scaled_df, housing["median_house_value"], housing["ocean_proximity"]], axis=1)
housing.head()

,longitude,latitude,housing_median_age,population,households,median_income,bedrooms_per_household,rooms_per_household,median_house_value,ocean_proximity
0,-1.327835,1.052548,0.982143,-0.974429,-0.977033,2.344766,-0.148514,0.628559,452600.0,NEAR BAY
1,-1.322844,1.043185,-0.607019,0.861439,1.669961,2.332238,-0.248542,0.327041,358500.0,NEAR BAY
2,-1.332827,1.038503,1.856182,-0.820777,-0.843637,1.782699,-0.052902,1.155620,352100.0,NEAR BAY
3,-1.337818,1.038503,1.856182,-0.766028,-0.733781,0.932968,-0.053647,0.156966,341300.0,NEAR BAY
4,-1.337818,1.038503,1.856182,-0.759847,-0.629157,-0.012881,-0.038196,0.344711,342200.0,NEAR BAY

텍스트로 이루어진 "ocean_proximity" 값 또한 숫자로 변형해줍니다.

In [44]:
# One-hot encoding
housing = pandas.get_dummies(housing)
housing.head(10)

,longitude,latitude,housing_median_age,population,households,median_income,bedrooms_per_household,rooms_per_household,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-1.327835,1.052548,0.982143,-0.974429,-0.977033,2.344766,-0.148514,0.628559,452600.0,0,0,0,1,0
1,-1.322844,1.043185,-0.607019,0.861439,1.669961,2.332238,-0.248542,0.327041,358500.0,0,0,0,1,0
2,-1.332827,1.038503,1.856182,-0.820777,-0.843637,1.782699,-0.052902,1.155620,352100.0,0,0,0,1,0
3,-1.337818,1.038503,1.856182,-0.766028,-0.733781,0.932968,-0.053647,0.156966,341300.0,0,0,0,1,0
4,-1.337818,1.038503,1.856182,-0.759847,-0.629157,-0.012881,-0.038196,0.344711,342200.0,0,0,0,1,0
5,-1.337818,1.038503,1.856182,-0.894071,-0.801787,0.087447,0.005233,-0.269730,269700.0,0,0,0,1,0
6,-1.337818,1.033821,1.856182,-0.292712,0.037823,-0.111366,-0.288066,-0.200918,299200.0,0,0,0,1,0
7,-1.337818,1.033821,1.856182,-0.237079,0.385698,-0.395137,-0.075290,-0.255232,241400.0,0,0,0,1,0
8,-1.342809,1.033821,1.061601,-0.193810,0.249687,-0.942359,0.032239,-0.458703,226700.0,0,0,0,1,0
9,-1.337818,1.033821,1.856182,0.110844,0.560944,-0.094470,-0.213262,-0.185283,261100.0,0,0,0,1,0

# **실습 #1-3: 전체 데이터를 학습/테스트 데이터로 나누고, feature 그리고 target 정보로 나눠야 합니다.**

**sklearn** 학습 라이브러리 안의 함수를 활용하여 데이터를 학습/테스트로 나눕니다.

In [45]:
# training - test seperation
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

print("number of train_se: ", train_set.shape[0])
print("number of test_set: ", test_set.shape[0])

number of train_se:  16512
number of test_set:  4128

간단한 drop 함수 그리고 copy 함수를 사용하여 feature (학습에 사용되는 정보) 그리고 target (학습해서 맞춰야하는 정보)로 나눕니다.

In [47]:
# feature and label seperation of training set
train_set_features = train_set.drop("median_house_value", axis=1)
train_set_target = train_set["median_house_value"].copy(0)

# **실습 #1-4: 전처리가 끝난 학습 데이터를 바탕으로 scikit-learn 라이브러리를 통해 집값 예측 선형 회귀 모델을 학습해봅시다.**

In [49]:
# Part 1-1: Build Linear Regression Model by utilizing scikit-learn built-in fuctnion "LinearRegression"
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np

# generate model by using training set
lin_reg = LinearRegression()
lin_reg.fit(train_set_features, train_set_target)
print("Learned Parameters: ")
print(lin_reg.coef_) # Printing the learned weights of linear regression model
print(lin_reg.intercept_) # Printing the bias (intercept) of linear regression model

print("Train_score: ", lin_reg.score(train_set_features, train_set_target))

# Feature and target value Seperation of the test set
test_set_features = test_set.drop("median_house_value", axis=1) # drop 'median_house_value" from test_set
test_set_target = test_set["median_house_value"].copy(0) # only containing 'median_house_value" from test_set

# target value predicted from our model
final_model = lin_reg
final_prediction = final_model.predict(test_set_features)
print("Test score: ", r2_score(test_set_target, final_prediction))

# RMSE
final_mse = mean_squared_error(test_set_target, final_prediction)
final_rmse = np.sqrt(final_mse)
print("RMSE is: ", final_rmse)  # Square root of the Sum of Squared Errors

Learned Parameters:
[-55492.054378   -56494.62911219  13826.45404021 -45409.43273728
  50658.0358886   78045.15239785  24247.66346749 -15026.80798829
 -18695.71364517 -55643.362724   113587.05147586 -23694.92293851
 -15553.05216819]
237503.84312194958
Train_score:  0.6522358826608095
Test score:  0.5764999533169753
RMSE is:  74495.52090286206

In [50]:
# Part 1-2: Predict the median_house_value for given test sample

# Do not use 'predict' function. Utilize matrix multiplication: prediction = weights * features + intercept
            # take the given input as a numpy array
          # take the given input as a numpy array
         # Just write the code corresponds to " = weights * features + intercept"
         # Just write the code corresponds to " = weights * features + intercept"


# The real median_house_values are:

# **실습 #1-5: 전처리가 끝난 학습 데이터를 바탕으로 scikit-learn 라이브러리를 통해 집값 예측 정규화 Ridge 회귀 모델을 학습해봅시다.**

## 4. Ridge Regression - Lab Activity #3 for this week (2020-10-07)
__scikit-learn__ provides *Ridge* function

In [52]:
from pyparsing.helpers import alphas
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# ridge regression
model_ridge = Ridge(alpha=100) # alpha means the costant coefficient for regularization term         
model_ridge.fit(train_set_features, train_set_target) # train ridge regression with train_set_features and train_set_traget

print("Train_score: ", model_ridge.score(train_set_features, train_set_target))
                       
# ridge RMSE
final_prediction = model_ridge.predict(test_set_features)
final_ridge_mse = mean_squared_error(test_set_target, final_prediction)
final_ridge_rmse = np.sqrt(final_ridge_mse)
print("RMSE is: ", final_ridge_rmse)


# command to hide the warning box

Train_score:  0.6514336855069291
RMSE is:  73665.80731174634

# **실습 #1-6: 전처리가 끝난 학습 데이터를 바탕으로 scikit-learn 라이브러리를 통해 집값 예측 정규화 Lasso 회귀 모델을 학습해봅시다.**

In [53]:
from sklearn.linear_model import Lasso
# lasso regression
model_lasso = Lasso(alpha=1000)
model_lasso.fit(train_set_features, train_set_target)

print("Train_score: ", model_lasso.score(train_set_features, train_set_target))
  
# command to hide the warning box
final_prediction = model_ridge.predict(test_set_features)
final_laaso_mse = mean_squared_error(test_set_target, final_prediction)
final_laaso_rmse = np.sqrt(final_laaso_mse)
print("RMSE is: ", final_laaso_rmse)

Train_score:  0.6451045186115931
RMSE is:  73665.80731174634

# **Extra Activity #1-7: scikit-learn 라이브러리의 MLP (딥러닝) 라이브러리를 이용해서 집값을 더 정확히 예측해봅시다.**

In [ ]:
# Set hidden_layer_sizes (32), (64), (64,32), (32,54,32) max_iter=1000


# MLP regressor

Train_score :  0.8498967003264114
Test_score :  0.8097313158451622
Errors in housing value prediction :  0.17865134276475914
RMSE is :  50246.701993231174